<!DOCTYPE>
<html>
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'answer_style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

<br></br>
<br></br>
<p class="p1">Question: {{question_text}}</p>
<br></br>
<div>
{% for answer in answers %}
	<p class="p2" id="{{answer.pk}}">{{answer.answer_text}}
  <form action="/vote" method="post">{% csrf_token %}
    <input type="submit" value="Vote for me">
    <input type="number" name="answer_id" value="{{answer.pk}}" style="visibility:hidden">
  </form>
  <p class="p3" id="{{answer.num_votes}}">Vote: {{answer.num_votes}}</p>
{% endfor %}
</div>
</body>
</html>

<script>

</script>
